body {
  height: 100vh;
  width: 100vw;
}

main {
  width: 100vw;
  height: 110%;
}

.container {
  padding: 0 5%;
}

main .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  background: blue url("/assets/hero.jpg") 50% 100% no-repeat;
  background-size: cover;
} 

main nav li {
  display: inline-block;
  padding: 10px 30px;
}

main nav li:not(:last-child) {
  border-right: 1px solid #515151;
}

main nav a {
  color: white;
  text-decoration: none;
}

main nav {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

main nav ul {
  background-color: #686868;
  background-image: linear-gradient(#8f8f8f, #8f8f8f 49%, #5e5e5e 49%, #5e5e5e 51%, #686868 51%,#686868 80%, #8f8f8f 95% );
  border-radius: 5px;
}

main input.search {
  height: 24px;
  width: 130px;
  border-radius: 12px;
  padding: 5px;
  background-color: #686868;
  background-image: linear-gradient(#8f8f8f, #8f8f8f 49%, #5e5e5e 49%, #5e5e5e 51%, #686868 51%,#686868 80%, #8f8f8f 95% );
  border: 1px solid #303030;
}

main nav li:last-child {
  position: relative;
}

main li:last-child i {
  position: absolute;
  top: 35%;
  left: 20%;
  font-size: 12px;  
  color: white;
}

main .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fcfdfd;
  width: 60%;
}

main .content h1 {
  font-size: 72px;
  font-weight: lighter;
  font-family: 'roboto', sans-serif;
  margin-bottom: 3%;
  
}

main .content h2 {
  font-size: 30px;
  font-family: 'roboto', sans-serif;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 3%;
}

main .content a {
  color: #fcfdfd;
  text-decoration: none;
  padding-right: 10px;
  font-size: 26px;
}

main .content a:hover {
  text-decoration: underline;
}

main .content i {
  font-size: 25px;
}

main .image-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

main .image-holder img {
  width: 100%;
}

footer nav {
  background: green;
}
