body {
  height: 100vh;
  width: 100vw;
}

main {
  width: 95%;
  height: 90%;
  margin: 0 auto;
}

main .hero {
  width: 100%;
  height: 100%;
  background: blue url("/assets/hero.jpg") 50% 100% no-repeat;
  background-size: cover;
} 

main nav li {
  display: inline-block;
  padding: 10px 30px;
}

main nav li:not(:last-child) {
  border-right: 1px solid #515151;
}

nav li a {
  color: white;
  text-decoration: none;
}

main nav {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10%;
}

main nav ul {
  background-color: #686868;
  background-image: linear-gradient(#8f8f8f, #8f8f8f 49%, #5e5e5e 49%, #5e5e5e 51%, #686868 51%,#686868 80%, #8f8f8f 95% );
}


